
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form role="form" class="form-horizontal text-left">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Nome</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Nome">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Digite o e-mail">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label" for="inputPassword3">Login</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Digite o login" id="inputPassword3">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">Senha</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Digite a senha">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">Repetir Senha</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" placeholder="Repita a senha" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Tipo</label>
                </div>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option></option>
                    <option>Admin</option>
                    <option>Técnico</option>
                    <option>Cliente</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-block btn-warning">Cadastrar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  

